table {
  padding-top: 0.5em;
  width: 100%;
  border-bottom: 1px solid currentColor;
}

.mat-header {
  background-color: cornflowerblue;
}



.odd {
  background-color: white;
}

.even {
  background-color: lightsteelblue;
}

.mat-column-position {
  width: 32px;
  border-right: 1px solid currentColor;
  padding-right: 24px;
  text-align: center;
}

.first {
  background-color: gold;
}

.second {
  background-color: silver;
}

.third {
  background-color: saddlebrown;
}
