<app-tool-bar></app-tool-bar>
<mat-form-field class="displayedRange">
  <mat-label>Statistik Zeitraum</mat-label>
  <mat-select [formControl]="displayedRange">
    <mat-option value="0">Dieser Monat</mat-option>
    <mat-option value="1">Insgesamt</mat-option>
  </mat-select>
</mat-form-field>
<div class="table">
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef> Position </th>
    <td mat-cell *matCellDef="let element"> {{getRowPosition(element)}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <ng-container matColumnDef="fahrten">
    <th mat-header-cell *matHeaderCellDef> Anzahl Fahrten </th>
    <td mat-cell *matCellDef="let element"> {{element.amountReservations}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns" class="mat-header"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"
      class="mat-row"
      [ngClass]="{
        'first' : getRowPosition(row) == 1,
        'second' : getRowPosition(row) == 2,
        'third' : getRowPosition(row) == 3,
        'odd' : getRowPosition(row) > 3 && getRowPosition(row) % 2 == 0,
        'even' : getRowPosition(row) > 3 && getRowPosition(row) % 2 == 1}">

  </tr>

</table>
</div>
<mat-paginator [pageSizeOptions]="[10, 25, 50]"
               showFirstLastButtons
               aria-label="Select page of statistics">
</mat-paginator>


