.body {
  padding: 5em;
}

table {
  width: auto;
}

.table {
  margin-right: 1em;
  margin-left: 1em;
}

.mat-header {
  background-color: cornflowerblue;
}

.odd {
  background-color: white;
}

.even {
  background-color: lightsteelblue;
}

.mat-column-position {
  width: 32px;
  padding-right: 24px;
  text-align: center;
}

.first {
  background-color: gold;
}

.second {
  background-color: silver;
}

.third {
  background-color: darkgoldenrod;
}

.displayedRange {
  margin-top: 1em;
  margin-left: 1em;
  margin-bottom: 1em;
}
