table {
  padding-top: 0.5em;
  width: 100%;
  border-bottom: 1px solid currentColor;
}

.mat-header {
  background-color: cornflowerblue;
}

.mat-row:nth-child(even){
  background-color: lightsteelblue;
}

.mat-row:nth-child(odd){
  background-color: white;
}

.mat-column-position {
  width: 32px;
  border-right: 1px solid currentColor;
  padding-right: 24px;
  text-align: center;
}
