<app-tool-bar></app-tool-bar>
<div class="body">
<div>Alle Buchungen</div>
  <br>
  <table mat-table [dataSource]="loadedRides" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Ride Id </th>
      <td mat-cell *matCellDef="let ride"> {{ride.id}} </td>
    </ng-container>

    <ng-container matColumnDef="purpose">
      <th mat-header-cell *matHeaderCellDef> Zweck </th>
      <td mat-cell *matCellDef="let ride"> {{ride.purpose}} </td>
    </ng-container>

    <ng-container matColumnDef="startAddress">
      <th mat-header-cell *matHeaderCellDef> Startadresse </th>
      <td mat-cell *matCellDef="let ride"> {{ride.startAddress}} </td>
    </ng-container>

    <ng-container matColumnDef="destinationAddress">
      <th mat-header-cell *matHeaderCellDef> Zieladresse </th>
      <td mat-cell *matCellDef="let ride"> {{ride.destinationAddress}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="startDate">
      <th mat-header-cell *matHeaderCellDef> Startdatum </th>
      <td mat-cell *matCellDef="let ride"> {{ride.startDate}} </td>
    </ng-container>

    <ng-container matColumnDef="endDate">
      <th mat-header-cell *matHeaderCellDef> Enddatum </th>
      <td mat-cell *matCellDef="let ride"> {{ride.endDate}} </td>
    </ng-container>

    <ng-container matColumnDef="carId">
      <th mat-header-cell *matHeaderCellDef> Auto (Id) </th>
      <td mat-cell *matCellDef="let ride"> {{ride.carId}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedRideColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedRideColumns;"></tr>
  </table>
</div>
