
<mat-toolbar class="toolbar">
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">

    <a routerLink="/home" mat-menu-item >
      <mat-icon>home</mat-icon>Home
    </a>

    <a routerLink="/new" mat-menu-item >
      <mat-icon>add_circle</mat-icon>Fahrt Buchen
    </a>
    <a routerLink="/edit" mat-menu-item >
      <mat-icon>edit</mat-icon>Buchung bearbeiten
    </a>

    <button mat-menu-item [matMenuTriggerFor]="deleteItem">
      <mat-icon>delete</mat-icon>
      <span>Buchung löschen </span>
    </button>
    <mat-menu #deleteItem=matMenu>
      <button mat-menu-item>Booking 1</button>
      <button mat-menu-item>Booking 2</button>
      <button mat-menu-item>Booking 3</button>
      <button mat-menu-item>Booking 4</button>
      <button mat-menu-item>Booking 5</button>
    </mat-menu>
    <a routerLink="/statistics" mat-menu-item >
      <mat-icon>poll</mat-icon>Statistiken
    </a>
    <a routerLink="/logout" mat-menu-item (click)="openLogoutDialog()">
      <mat-icon>power_settings_new</mat-icon>Ausloggen
    </a>
  </mat-menu>
  <span>Poolfahrzeug-Buchung</span>
  <span class="example-spacer"></span>
  <img src="../assets/images/doubleslash_Logo.png" width="180" height="54">
</mat-toolbar>
