
<mat-toolbar class="toolbar">
  <ng-container *ngIf="this.authService.shortTimeToken">
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">

      <a routerLink="/home" mat-menu-item >
        <mat-icon>home</mat-icon>Home
      </a>

      <a routerLink="/new" mat-menu-item >
        <mat-icon>add_circle</mat-icon>Fahrt buchen
      </a>

      <a routerLink="/cars" mat-menu-item>
        <mat-icon>directions_car</mat-icon>Autos verwalten
      </a>
      <a routerLink="/statistics" mat-menu-item>
        <mat-icon>poll</mat-icon>Statistiken
      </a>
      <a mat-menu-item (click)="openLogoutDialog()">
        <mat-icon>power_settings_new</mat-icon>Ausloggen
      </a>
    </mat-menu>
  </ng-container>
  <span>Poolfahrzeug-Buchung</span>
  <span class="example-spacer"></span>
  <img src="../assets/images/doubleslash_Logo.png" width="180" height="54">
</mat-toolbar>
