.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.new-ride-button,.calendar-button, .next-month-button, .previous-month-button {
  margin-left: 1em;
  margin-bottom: 1em;
}

.next-month-button, .previous-month-button, .current-day-button {
  margin-left: 1em;
  margin-bottom: 1em;
  width: 3em;
  height: 3em;
}

.month-display{
  font-family: Roboto, sans-serif;
  font-size: large;
  margin-left: 0.5em;
  margin-bottom: 1em;
  background-color: #3f51b5;
  color: white;
  border-radius: 0.25em;
}

.current-day-button:hover{

}

.next-month-button:hover{

}

.previous-month-button:hover{

}

.current-day-button{
  margin-left: auto;
}
