.body {
  padding: 1em;
}

table {
  width: 100%;
}
section {
  display: table;
}

.buttonEdit {
  width: 3em;
  height: 3em;
  margin-right: 1em;
}

.buttonDelete {
  width: 3em;
  height: 3em;
}

.mat-header {
  background-color: cornflowerblue;
}
